@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@400;700&family=Public+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Source+Code+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Voces&display=swap');

div, a, body {
	font-family: 'Public Sans', 'Voces', 'Noto Sans HK', sans-serif;
	line-height: 1.1;
}
code, pre  {
	font-family: 'Source Code Pro', 'Voces', 'Noto Sans HK', monospaced;
font-variant-numeric: slashed-zero;
}

div > p {
	margin-top: 1em;
	margin-bottom: 1em;
}
h1, h2, h3, h4, h5, h6, p, small, span, div, code, pre, q, blockquote {
	line-height: 1.1;
}
h1, h2, h3, h4, h5, h6 {
	color: #2A94A2;
}

input, button, select {
	font-family: 'Public Sans', 'Noto Sans HK', sans-serif !important;
	text-transform: none;
	font-variant-numeric: tabular-nums;
}

header {
	top: 0;
	width: 100%;
	/* background-color: #EEEEEE; */
	padding:1%;
	display:block;
}


footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}
